@page "/statistics/reports"
@using ExpenseManagement.Shared.Helpers
@using ExpenseManagement.Shared.ValueObjects
@using ExpenseManagement.Shared.Entities
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@inject HttpClient Http

<h3>Reports</h3>

<AlertCustom Alerts=@Alerts></AlertCustom>

<div class="container">
    <!--Despesas por mes -->
    <div Class="rz-p-0 rz-p-md-12">
        <RadzenChart>
            <RadzenValueAxis>
                <RadzenAxisTitle Text="Valor" />
            </RadzenValueAxis>
            <RadzenCategoryAxis>
                <RadzenAxisTitle Text="Mes" />
            </RadzenCategoryAxis>
            <RadzenColumnSeries Data="@ExpensesByMonth.ToArray()" CategoryProperty="Key" ValueProperty="Value" />
        </RadzenChart>
    </div>

    <!--Despesas por categoria -->
    <div Class="rz-p-0 rz-p-md-12">
        <RadzenChart>
            <RadzenValueAxis>
                <RadzenAxisTitle Text="Valor" />
            </RadzenValueAxis>
            <RadzenCategoryAxis>
                <RadzenAxisTitle Text="Categoria" />
            </RadzenCategoryAxis>
            <RadzenColumnSeries Data="@ExpensesByCategory.ToArray()" CategoryProperty="Key" ValueProperty="Value" />
        </RadzenChart>
    </div>

</div>





@code {

    private List<DataItem<decimal>> ExpensesByMonth = new();
    private List<DataItem<decimal>> ExpensesByCategory = new();
    public List<MessageResult> Alerts = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var ResponseExpenses = await Http.GetFromJsonAsync<BusinessResult<List<Expense>>>("Expense");
            if (ResponseExpenses != null && !ResponseExpenses.IsValid)
            {
                foreach (var message in ResponseExpenses.Messages)
                    AlertHelper.AddError(Alerts, message.Message);
                return;
            }

            var groupedExpensesByMonth = ResponseExpenses.Data.GroupBy(x => x.ExpenseDate.ToString("MMM"));
            var groupedExpensesByCategory = ResponseExpenses.Data.GroupBy(x => x.Category.Description);

            foreach (var group in groupedExpensesByMonth)
                ExpensesByMonth.Add(new DataItem<decimal>() { Key = group.Key, Value = group.Sum(x => x.Amount) });

            foreach (var group in groupedExpensesByCategory)
                ExpensesByCategory.Add(new DataItem<decimal>() { Key = group.Key, Value = group.Sum(x => x.Amount) });

        }
        catch (Exception ex)
        {
            AlertHelper.AddError(Alerts, ex.Message);
        }
    }
}