@page "/categories/add"
@using ExpenseManagement.Shared.Models.Category
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using ExpenseManagement.Shared
@attribute [Authorize]
@inject HttpClient Http


<PageTitle>Adicionar</PageTitle>

<h1>Adicionar</h1>

<p>This component demonstrates fetching data from the server.</p>



@code {
    private CategoryModel[]? categories;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            categories = await Http.GetFromJsonAsync<CategoryModel[]>("Category");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    private void Register()
    {
        
    }
}